<div data-controller="comments" data-project-id="<%= @project.id %>"
     data-user-id="<%= current_user.id %>"
     class="mb-8 mt-2">

  <%= form_for Comment.new,
               url: project_comments_path(@project),
               remote: true,
               class: "flex flex-col space-y-4" do |form| %>

    <div class="flex flex-col">
      <%= form.label :comment, class: "font-bold mb-2" %>
      <%= form.text_field :content, data: { comments_target: "content" }, class: "border-2 border-gray-200 p-2 rounded-md", required: true %>
      <%= form.hidden_field :project_id, value: @project.id %>
    </div>

    <div class="flex justify-end">
      <%= form.submit "Post Comment", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
    </div>
  <% end %>
<hr class="mt-2">
  <ul class="mt-4" data-comments-target="list">
    <% @project.comments.order(id: :desc).each do |comment| %>
      <%= render comment %>
    <% end %>
  </ul>
</div>
